QTreeWidget::item:selected {
    background-color: #2299d4;
    color: white;
}

QTableView::item:selected {
    background-color: #2299d4;
    color: white;
}

QMenuBar::item:selected {
    background-color: #2299d4;
    color: white;
}

QMenuBar::item:pressed {
    background-color: #2299d4;
    color: white;
}

QMenu::item:selected {
    background-color: #2299d4;
    color: white;
}

QLineEdit {
    background-color: white;
}

QLabel#labelNameHeading {
    background-color: #2299d4;
    padding: 6px;
    color: white;
    font-weight: bold;
}

QLabel#labelNotesHeading {
    background-color: #2299d4;
    padding: 6px;
    color: white;
    font-weight: bold;
}

QLabel#labelAboutPasswordHeading {
    background-color: #2299d4;
    padding: 6px;
    color: white;
    font-weight: bold;
}

QLabel#labelPasswordURL {
    padding-bottom: 16px;
}
